body{
	position: relative;
	background: white;
}

#header {
	text-align: center;
	align-content: center;
	background-color: #cce6e6;
}

#logo {
	margin-left: 0.2em;
	font-size: 5em;
	padding-bottom: 0;
	margin-bottom: 0;	
	text-align: left;
	display: flex;
	position: absolute;
}

#title {
	position: absolute;
	margin-left: 0.3em;
	font-size: 2.8em;
	padding-top: 0;
	padding-left: 1.5em;
	margin-top: 0.6em;
	text-align: left;
	margin-bottom: 10;
	display: flex;
}

#caption {
	text-align: center;
	margin-bottom: 15;
	display: none;
}

.title{
	align-content: left;
}


#nav {
	display: flex;
	position: relative;
	text-align: right;
	justify-content: right;
	align-content: right;
}

#tab {
	position: relative;
	margin:0;
	margin-left: 1em;
	margin-right: 1em;
	padding: 1;
	width: 13%;
	font-size: 1.5em;
}

#excerpts{
	display: none;
}

a{
	text-decoration: none;
}

a:link{
	color:#000000;
}

a:visited {
	color: #000000;

}

a:hover {
	color:#931311;
}

#article-main {
	margin-left: 20%;
	margin-right: 20%;
	float:center;
}

#article-title {
	font-size: 1.8em;
	font-weight: bold;
}
#article-details {
	text-align: right;
}

#article-content {
	font-size: 1.25em;
}

#article-title-tamil {
	font-family: 'Vijaya';
	font-size: 1.8em;
	font-weight: bold;
}

#article-content-tamil {
	font-family: 'Vijaya';
	font-size: 1.25em;
}

#DP {
	border: 1px solid #000;
  	border-radius: 4px;
	height: 200px;
  	padding: 5px;
  	margin-left: 20px;
  	align-items: right;
	float: right;
}

#quote {
	text-align:center;
	font-size:1.25em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #000000;
  	border-bottom: 1px solid #000000;
}

p {
	text-align: justify;
	line-height: 1.5;
	padding:5px;
}

#side-left {
	float:left;
	margin:0;
	padding:2px;
	display: none;
}

#side-right {
	float:right;
	margin:0;
	padding:2px;
}


#head {
	font-weight: bold;
	font-size: 1.2em;
}

#tamil {
	font-family: 'Vijaya';
}