#header {
	text-align: center;
	align-content: center;
}


#logo {
	font-size: 5em;
	padding-bottom: 0;
	margin-bottom: 0;	
	text-align: center;
}

#title {
	font-size: 2.8em;
	padding-top: 0;
	margin-top: 0;
	text-align: center;
	margin-bottom: 10;
}

#caption {
	text-align: center;
	margin-bottom: 15;
}


#nav {

}

#tab {
	margin:0;
	margin-left: 2em;
	margin-right: 2em;
	padding: 10;
	width: 30%;
	font-family: monospace;
	font-size: 1.5em;
}


a{
	text-decoration: none;
}

a:link{
	color:#000000;
}

a:visited {
	color: #000000;

}

a:hover {
	color:#931311;
}

#article-main {
	margin-left: 20%;
	margin-right: 20%;
	float:center;
}

#article-title {
	font-size: 1.8em;
	font-weight: bold;
}
#article-details {
	text-align: right;
}

#article-content {
	font-size: 1.25em;
}

#article-title-tamil {
	font-family: 'Vijaya';
	font-size: 1.8em;
	font-weight: bold;
}

#article-content-tamil {
	font-family: 'Vijaya';
	font-size: 1.25em;
}

#DP {
	border: 1px solid #000;
  	border-radius: 4px;
	height: 200px;
  	padding: 5px;
  	margin-left: 20px;
  	align-items: right;
	float: right;
}

#quote {
	text-align:center;
	font-size:1.25em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #000000;
  	border-bottom: 1px solid #000000;
}

p {
	text-align: justify;
	line-height: 1.5;
	padding:5px;
}

#side-left {
	float:left;
	margin:0;
	padding:2px;
	border 1px solid #000000;
}

#head {
	font-weight: bold;
	font-size: 1.2em;
}

#tamil {
	font-family: 'Vijaya';
}